body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  padding: 0;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

input{
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    border: none;
    outline: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

/* ul {
  list-style-type: none;
} */


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding-left: 0;
}
